.AllStations{
  color:rgb(45, 76, 134);
  font-size: small;
  padding: 25px;
}

.Header{
  color:rgb(39, 5, 102);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input{
  border: 25px solid black(500, 500, 500) ;
  margin-bottom: 2px;
  color:black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  padding: 15px;
}

.OneStation{
  color:rgb(240, 67, 14);
  font-weight: bold;
  font-size: large;
  line-height: 1cm;
}

.Radio{
  color:rgb(240, 71, 10);
  font-family:Georgia, 'Times New Roman', Times, serif;
  overflow: scroll;
}

.Search {
  color:rgb(12, 7, 12);
  font-size: large;
}

.StationData {
  color:rgb(122, 67, 4);
  font-size: large;
}

.Title {
  font-size: xxx-large;
  text-decoration: darkmagenta;
  color:rgb(39, 5, 102);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

